.wordType h3{
    color: #2D2D2D;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.wordType div{
    height: 1px;
    background-color: #E9E9E9;
    width: 100%;
    margin: 0 2.5vw 0 2.5vw;
}

.meaning{
    font-size: 16px;
    color: #757575;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    line-height: 24px;
}

ul li::before {
    content: "•";
    color: #A445ED;
    display: inline-block;
    width: 2em;
    margin-left: -2em;
    font-size: 20px;
}

.synonyms div{
    font-size: 16px;
    color: #757575;
    align-self: center;
}

.synonyms p{
    margin: 0;
    color: #A445ED;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5vw;
    line-height: 24px;
}

.synonyms p span{
    cursor: pointer;
}

.example{
    font-size: 15px;
    color: #757575;
}

.source{
    border-top: #E9E9E9 1px solid;
}

.source div{
    padding-top: 20px;
    font-size: 16px;
    color: #757575;
    align-self: center;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.source a{
    text-decoration: underline #757575;
    text-underline-offset: 3px;
    color: #2D2D2D;
    gap: 10px;
    padding: 10px 0 20px 0;
}

@media (min-width: 768px){
    .wordType h3{
        font-size: 24px;
    }
    .meaning{
        font-size: 18px;
    }
    ul li{
        font-size: 16px;
    }
    .synonyms{
        
        padding: 2vh 0 2vh 0;
    }

    .synonyms div, .synonyms p{
        font-size: 18px;
    }
    .source{
        display: flex;
        align-items: center;
    }
    .source a{
        padding: 20px 0 0 20px;
    }
    .example{
        font-size: 16px;
    }
}