body{
    padding: 5vw;
    font-family: sans-serif;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.d-flex{
    display: flex;
}

@media (min-width: 1024px){
    body{
        padding: 2.5vw 25vw;
    }
}
