header{
    height: 32px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.darkmode-switch{
    width: 34px; 
    height: 14px; 
    border-radius: 20px;
    padding: 3px; 
    transition: ease-in-out 0.2s;
}

.darkmode-switch .circle{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-color: white;
    transition: ease-in-out 0.2s;
}

.toggled{
    transform: translateX(calc(34px - 100%));
}