header{
    height: 32px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.darkmode-switch{
    width: 34px; 
    height: 14px; 
    border-radius: 20px;
    padding: 3px; 
    transition: ease-in-out 0.2s;
}

.darkmode-switch .circle{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-color: white;
    transition: ease-in-out 0.2s;
}

.toggled{
    transform: translateX(calc(34px - 100%));
}

.font{
    height: 32px;
    justify-content: space-between;
    gap: 5vw;
    border-right: 1px solid #E9E9E9;
    padding-right: 5vw;
}

.fontName{
    font-size: 14px;
    font-weight: bold;
}

.font img{
    height: 8px;
}

.darkmode{
    gap: 2.5vw;
    padding-left: 5vw;
}

.darkmode img{
    height: 20px;
}