.searchbar{
    background-color: #F4F4F4;
    border-radius: 16px;
    height: 48px;
    padding: 0 5%;
}

.searchbar input{
    border: none;
    background-color: #F4F4F4;
    border-radius: 16px;
    width: 80%;
    font-size: 17px;
    font-weight: bold;
}

.searchbar input:focus{
    outline: none;
}

.searchbar input::placeholder{
    color: #C2C2C2;
    font-size: 17px;
    font-weight: bold;
}

.searchbar button{
    border: none;
    background-color: #F4F4F4;
    height: 15px;
    width: 20%;
    display: flex;
    justify-content: end;
}

.searchbar button img{
    height: 15px;
    padding: 0 5%;
}

.error{
    color:#FF5252;
    padding-top: 5px;
    font-size: 14px;
}

@media (min-width: 768px){
    .searchbar{
        margin-top: 2.5vh;
        height: 64px;
    }

    .searchbar input{
        font-size: 20px;
    }
}
